.imagen-titulo {
  display: block;
  position: relative;
  opacity: 0.5;
}

.imagen-titulo:before {

  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 1);
}

.logo {
  position: absolute;
  bottom: 380px;
  left: 10%;
  opacity: 0.9;
}

.textodelheader {
  position: absolute;
  font-size: 25px;
  bottom: 380px;
  left: 27%;
  color: whitesmoke;
  opacity: 0.9;
}

#botones {
  text-align: center;
  position: relative;
  float: none;
  background-color: none;
  margin: 5px;
}



.boton_home {

  text-decoration: none;
  background-color: navy;
  padding: 5px;
  font-size: 20px;
  color: #ffffff;
  border: 3px outset white;
}

.boton_home:hover {
  color: #ffffff;
  background-color: darkgreen;
}


.boton_about {

  text-decoration: none;
  background-color: navy;
  padding: 5px;
  font-size: 20px;
  color: #ffffff;
  border: 3px outset white;

}

.boton_about:hover {
  color: #ffffff;
  background-color: darkgreen;
}


.boton_contact {
  text-decoration: none;
  padding: 3px;
  font-size: 20px;
  color: #ffffff;
  background-color: navy;
  border: 3px outset white;
}

.boton_contact:hover {
  color: #ffffff;
  background-color: darkgreen;
}

.boton_rules {
  text-decoration: none;
  padding: 3px;
  font-size: 20px;
  color: #ffffff;
  background-color: navy;
  border: 3px outset white;
}

.boton_rules:hover {

  color: #ffffff;
  background-color: darkgreen;

}

.boton_game_info {
  text-decoration: none;
  padding: 3px;
  font-size: 20px;
  color: #ffffff;
  background-color: navy;
  border: 3px outset white;
}

.boton_game_info:hover {

  color: #ffffff;
  background-color: darkgreen;

}

.boton_registration {
  text-decoration: none;
  padding: 3px;
  font-size: 20px;
  color: #ffffff;
  background-color: navy;
  border: 3px outset white;
}

.boton_registration:hover {
  color: #ffffff;
  background-color: darkgreen;

}


.franja-negra {
  background-color: navy;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  color: white;
}

.imagen-izquierda {
  position: absolute;
  float: left;
  padding: 20px;
  opacity: 0.9;
}

#contenedor-central {
  float: none;
  position: relative;
  padding: 5px;
  height: 450px;
  border: 10px double navy;
}


.fechas {
  position: relative;
  text-align: center;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.7;
  top: 55px;
  left: 450px;
  width: 400px;
}

.texto-central {

  position: relative;
  float: none;
}

.textos {

  position: relative;
  text-align: center;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.7;
  top: -10px;
  left: 320px;
  width: 700px;
  height: 300;

}

.email {

  position: relative;
  text-align: center;
  color: whitesmoke;
  background-color: navy;
  top: 55px;
  width: 400px;
  left: 450px;

}

#rules {

  position: relative;
  border-radius: 25px;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.9;
  width: 75%;
  height: 75%;
  left: 170px;

}

.rules-policies {

  position: relative;
  text-align: center;
  border-radius: 25px;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.9;
}

.text-game-info {
  position: relative;
  text-align: center;
  color:whitesmoke;
  background-color: navy;
  opacity: 0.9;
}


h2 {
  position: relative;
  text-align: center;
  color: whitesmoke;
  background-color: navy;

}


.september {

  position: relative;
  text-align: center;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.9;
  width: 75%;
  height: 75%;
  left: 170px;
  padding: 30px;
  border: 8px double whitesmoke;
}


.october {

  position: relative;
  text-align: center;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.9;
  width: 75%;
  height: 75%;
  left: 170px;
  padding: 30px;
  border: 8px double whitesmoke;


}


.game-locations {

  position: relative;
  text-align: center;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.9;
  width: 75%;
  height: 75%;
  left: 170px;
  padding: 30px;
  border: 8px double whitesmoke;

}

#down {

  color: whitesmoke;
  background-color: navy;
  opacity: 0.9;

}

.phone {
  position: relative;
  float: left;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.9;
  border: 8px double whitesmoke;

}

.michael {

  position: relative;
  float: right;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.9;
  border: 8px double whitesmoke;

}

.maps {
  position: relative;
  text-align: center;
  border-radius: 25px;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.9;
}

#maps1 {
  position: relative;
  float: left;
  color: whitesmoke;
  text-align: center;
  background-color: navy;

}

#maps2 {
  position: relative;
  float: right;
  color: whitesmoke;
  text-align: center;
  background-color: navy;

}

#form {
  position: relative;
  text-align: center;
  border-radius: 25px;
  color: whitesmoke;
  background-color: navy;
  opacity: 0.9;
}
