#botones {
	position: relative;
	float: right;
}

.boton_home {
	text-decoration: none;
	padding: 3px;
	font-size: 20px;
	color: #ffffff;
	background-color: navy;
	border: 2px solid black;
	box-shadow: 3px 3px black;
}

.boton_home:hover {
	color: #ffffff;
	background-color: darkgreen;
}

.boton_about {
	text-decoration: none;
	padding: 3px;
	font-size: 20px;
	color: #ffffff;
	background-color: navy;
	border: 2px solid black;
	box-shadow: 3px 3px black;
}

.boton_about:hover {
	color: #ffffff;
	background-color: darkgreen;
}

.boton_contact {
	text-decoration: none;
	padding: 3px;
	font-size: 20px;
	color: #ffffff;
	background-color: navy;
	border: 2px solid black;
	box-shadow: 3px 3px black;
}

.boton_contact:hover {
	color: #ffffff;
	background-color: darkgreen;	
}

.franja-negra {
	position: relative;
	bottom: 50px;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 40px;
}

#right-block {
	display: inline-block;
}


.logo {
	position: relative;
	float: left;
	top: -10px;
}


.fechas {

	position: relative;
	float: right;
	left: 200px;
	top: 0px;

}

#textos {
	position: relative;
	float: right;
	left: 19%;
	bottom: 190px;
	width: 900px;

}

.mail {
	position: relative;
	float: right;
	left: 19%;


}
